<div class="page-header">
  <h1>Listing contacts from group: <%= @group.name %></h1>
</div>

<%= render :partial => 'contacts/contacts', :locals => { :contacts => @group.contacts }  %>

<br />

<%= link_to 'Back', :back, :class => "btn btn-info" %>
